:root {
    --white: #b7b7b7;
    --cmd-bg: #0c0b0b;
    --cmd-border: #1a1a1a;
    --moz-sb-color: rgba(255, 255, 255, 0.05);
    --sb-color: rgba(255, 255, 255, 0.05);
    --sb-color-hover: rgba(255, 255, 255, 0.05);
    --sb-color-track: rgba(131, 131, 131, 0.42);
    --hex-color: #0c0b0b;
    --hex-color-hover: #89b4fa;
    --wall-node-color: #212121;
    --path-node-color-1: #ff740d;
    --path-node-color-2: #ff5b00;
    --path-node-color-3: rgb(255, 145, 0);
    --path-node-color-4: rgb(255, 164, 0);
    --path-node-color-5: rgb(255, 115, 0);
    --visited-node-color-1: #6184c4;
    --visited-node-color-2: #59a8ce;
    --visited-node-color-3: #1e8576;
    --visited-node-color-11: #eba0ac;
    --visited-node-color-21: #f38ba8;
    --visited-node-color-31: #cba6f7;
    --file-bg: #0c0b0b;
    --file-bg-selected: rgba(17, 17, 27, 0.63);
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-cmd {
    width: 30vw;
    border-right: 1px solid var(--cmd-border);
}