.button:hover {
    cursor: pointer;
}

.button {
    display: inline-block;
    vertical-align: middle;
    border: none;
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    padding : 0;
    border-radius: 2px;
}

button:disabled svg {
    cursor : default;
    filter: grayscale(50%);
}