.dialog-overlay {
    position: fixed;
    inset: 0;
    z-index: 150;
    background-color: rgba(0, 0, 0, 0.8);

    &[data-state=open] {
        animation: fade-in 200ms forwards;
    }

    &[data-state=closed] {
        animation: fade-out 200ms forwards;
    }
}

.dialog-content {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 150;
    display: grid;
    width: 100%;
    max-width: 100px;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.71);
    background-color: var(--color-cmd-bg);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;


    &[data-state=open] {
        animation: fade-in 200ms forwards, zoom-in 200ms forwards, slide-in-from-left 200ms forwards, slide-in-from-top 200ms forwards;
    }

    &[data-state=closed] {
        animation: fade-out 0ms forwards, zoom-out 200ms forwards, slide-out-to-left 200ms forwards, slide-out-to-top 200ms forwards;
    }
}

.dialog-header {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: left;
    color: var(--color-white);
}

.dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.dialog-title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.025em;
}

.dialog-description {
    font-size: 0.875rem;
    text-align: left;
    color: var(--color-white);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoom-in {
    from {
        transform: translate(-50%, -50%) scale(0.95);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes zoom-out {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(0.95);
    }
}

@keyframes slide-in-from-left {
    from {
        transform: translate(calc(50% + 1rem), -50%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-in-from-top {
    from {
        transform: translate(-50%, calc(-50% - 1rem));
    }
    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes slide-out-to-left {
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(calc(50% + 1rem), -50%);
    }
}

@keyframes slide-out-to-top {
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(-50%, calc(-50% - 1rem));
    }
}
.stop-dialog-cancel-button{
    color: inherit;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    background: white;
    border: none;
    cursor : pointer;
    transition: box-shadow 0.25s, background 0.25s
}
.stop-dialog-cancel-button:hover{
    box-shadow: 0 0 0 3px white;
}

.stop-dialog-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    background-color: var(--color-cmd-bg);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90vw;
    max-width: 400px;
}

.stop-dialog-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
}

.stop-dialog-description {
    color: var(--color-white);
    font-size: 0.8rem;
    line-height: 1.2;
}