.start-node {
    background-image: url('../assets/startNode.svg');
    top: 0px;
    /* DO NOT REMOVE THE ABOVE LINE */
}

.end-node {
    background-image: url('../assets/endNode.svg');
    top: 0px;
    /* DO NOT REMOVE THE ABOVE LINE */
}

.bomb-node {
    background-image: url('../assets/bombNode.svg');
    top: 0px;
    left: 1px;
}

.weight-node {
    background-image: url('../assets/weightNode.svg');
    top: 0px;
    animation : weighNodeDown 1s ease-in-out;
}
@keyframes weighNodeDown {
    0%   {transform: scale(1) translateY(0);}
    25%  {transform: scale(0.8) translateY(7px);}
    50%  {transform: scale(1.05) translateY(-2px);}
    70%  {transform: scale(0.97) translateY(2px);}
    100% {transform: scale(1) translateY(0);}
}


/**
FIXME, go away from using raw assets to using svg's like for everything else.
 */

