body,
html {
    background-color: #262b3d;
    height: 90vh;
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

#root {
    height: 90vh;
    padding: 0;
    margin: 0;
    --duration: 1.5s;
    --container-size: 250px;
    --box-size: 33px;
    --box-border-radius: 15%;
}