
.navbar {
    background-color: var(--cmd-bg);
    width: 100%;
    height: 100%;
    color: var(--white);
}

.header {
    height: 9%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
}

.title {
    font-size: 1.5rem;
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.folder-panel {
    padding: 5px 0 0 0;
    height: 86%;
    overflow-y: auto;
    scrollbar-color: var(--moz-sb-color) transparent;
}

.folder-panel::-webkit-scrollbar{
    width:5px;
}

.folder-panel::-webkit-scrollbar-thumb{
    background: var(--sb-color);
    border-radius: 100vw;
}

.folder-panel::-webkit-scrollbar-thumb:hover{
    background: var(--sb-color-hover);
}

.folder-panel::-webkit-scrollbar-track{
    background: var(--sb-color-track);
}

.folder-misc{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    max-width:270px;
    align-items:center;
    gap:5px;
}
.folder-name {
    font-size: 0.75rem;
    font-weight: 300;
}

.file-name {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0;
}

.file {
    padding: 1px 0 3px 22px;
    margin: 0 2px 0 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

.rotated {
    transform: rotate(-90deg);
}

@media (max-width: 1168px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1068px) {
    html {
        font-size: 12px;
    }
}