.folder-name {
    font-size: 0.75rem;
    font-weight: 300;
}

.file-name {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0;
}

.file {
    padding: 1px 0 3px 22px;
    margin: 0 2px 0 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}