@import "tailwindcss";

@theme {
    --color-white: #b7b7b7;
    --color-cmd-bg: #0c0b0b;
    --color-cmd-border: #1a1a1a;
    --color-moz-sb-color: rgba(255, 255, 255, 0.05);
    --color-sb-color: rgba(255, 255, 255, 0.05);
    --color-sb-color-hover: rgba(255, 255, 255, 0.05);
    --color-sb-color-track: rgba(131, 131, 131, 0.42);
    --color-hex-color: #0c0b0b;
    --color-hex-color-hover: #89b4fa;
    --color-wall-node-color: #212121;
    --color-path-node-color-1: #ff740d;
    --color-path-node-color-2: #ff5b00;
    --color-path-node-color-3: rgb(255, 145, 0);
    --color-path-node-color-4: rgb(255, 164, 0);
    --color-path-node-color-5: rgb(255, 115, 0);
    --color-visited-node-color-1: #6184c4;
    --color-visited-node-color-2: #59a8ce;
    --color-visited-node-color-3: #1e8576;
    --color-visited-node-color-11: #eba0ac;
    --color-visited-node-color-21: #f38ba8;
    --color-visited-node-color-31: #cba6f7;
    --color-file-bg: #0c0b0b;
    --color-file-bg-selected: rgba(17, 17, 27, 0.63);
}