@import "tailwindcss";

@theme {
    --color-white: #b7b7b7;
    --color-cmd-bg: #0c0b0b;
    --color-cmd-border: #1a1a1a;
    --color-moz-sb-color: rgba(255, 255, 255, 0.05);
    --color-sb-color: rgba(255, 255, 255, 0.05);
    --color-sb-color-hover: rgba(255, 255, 255, 0.05);
    --color-sb-color-track: rgba(131, 131, 131, 0.42);
    --color-hex-color: #0c0b0b;
    --color-hex-color-hover: #89b4fa;
    --color-wall-node-color: #212121;
    --color-path-node-color-1: #ff740d;
    --color-path-node-color-2: #ff5b00;
    --color-path-node-color-3: rgb(255, 145, 0);
    --color-path-node-color-4: rgb(255, 164, 0);
    --color-path-node-color-5: rgb(255, 115, 0);
    --color-visited-node-color-1: #6184c4;
    --color-visited-node-color-2: #59a8ce;
    --color-visited-node-color-3: #1e8576;
    --color-visited-node-color-11: #eba0ac;
    --color-visited-node-color-21: #f38ba8;
    --color-visited-node-color-31: #cba6f7;
    --color-file-bg: #0c0b0b;
    --color-file-bg-selected: rgba(17, 17, 27, 0.63);


    --animate-visited-node-without-bomb : visited-node-animation-without-bomb 1s linear forwards;
    @keyframes visited-node-animation-without-bomb{
        0% {
            fill: var(--color-hex-color);
        }
        33% {
            fill: var(--color-visited-node-color-3);
        }
        66% {
            fill: var(--color-visited-node-color-2);
        }
        100% {
            fill: var(--color-visited-node-color-1);
        }
    }

    --animate-visited-node-with-bomb : visited-node-animation-with-bomb 1s linear forwards;
    @keyframes visited-node-animation-with-bomb {
        0% {
            fill: var(--color-hex-color);
        }

        33% {
            fill: var(--color-visited-node-color-31);
        }

        66% {
            fill: var(--color-visited-node-color-21);
        }

        100% {
            fill: var(--color-visited-node-color-11);
        }
    }

    --animate-path : path-animation 1s linear forwards ;
    @keyframes path-animation {
        0% {
            fill: var(--color-hex-color);
            transform: scale(1);
        }

        20% {
            fill: var(--color-path-node-color-5);
            transform: scale(0.98);
        }

        40% {
            fill: var(--color-path-node-color-4);
        }

        60% {
            fill: var(--color-path-node-color-3);
            transform: scale(1.05);
        }

        80% {
            fill: var(--color-path-node-color-2);
        }

        100% {
            fill: var(--color-path-node-color-1);
            transform: scale(1);
        }
    }

    --animate-random-walk : random-walk-animation 1s linear fowards;
    @keyframes random-walk-animation {
        0% {
            fill: var(--color-hex-color);
            transform: scale(1);
        }

        20% {
            transform: scale(0.95);
        }

        40% {
            fill: var(--color-path-node-color-2);
            transform: scale(0.9);
        }

        60% {
            fill: var(--color-path-node-color-3);
            transform: scale(1.05);
        }

        100% {
            fill: var(--color-path-node-color-1);
            transform: scale(1);
        }
    }

}